<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="Remont_App.Properties.Settings.ClientDBConnectionString"
          connectionString="Data Source=DESKTOP-GGV8D7V;Initial Catalog=ClientDB;Integrated Security=True;Pooling=False"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="provider"  value="System.Data.SqlClient" />
    <add key="connectionString"   value="Data Source=DESKTOP-GGV8D7V;Initial Catalog=ClientDB;Integrated Security=True;Pooling=False"  />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>